<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.launchdarkly.sdk.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <receiver android:name="com.launchdarkly.sdk.android.PollingUpdater" android:exported="false"/>
    </application>
</manifest>
